<h1>All articles</h1>
<%= link_to ">>> Create new Article <<<", new_article_path %>
<% @articles.each do |item| %>
	<hr>
	<h2><%= link_to item.title, article_path(item) %></h2>
	<small>posted at <%= item.created_at %> / updated at <%= item.updated_at %></small>
	<p><%= item.text %></p>
	<small><%= link_to ">>> Edit", edit_article_path(item) %> | <%= link_to "Delete <<<", article_path(item), method: :delete, data: {confirm: "Are you shure?"} %></small>
<% end %>