<h1>Article #<%= @article.id %></h1>
<hr>
<h3><%= @article.title %> </h3>
<small>posted at <%= @article.updated_at %></small>
<p><%= @article.text %></p>
<small><%= link_to "Show all articles", articles_path %></small>