<!-- вывод одной статьи, списка комментариев к ней и ввод нового комментария -->
<h1>Article #<%= @article.id %></h1>
<hr>
<h2><%= @article.title %> </h2>
<small>posted at <%= @article.created_at %> / updated at <%= @article.updated_at %></small>
<p><%= simple_format(@article.text) %></p>

<!-- ссылка на вывод списка статей -->
<small><%= link_to "Show all articles", articles_path %></small>
<hr>

<!-- список комментариев -->
<h3>Comments:</h3>
<% @comments.each do |item| %>
	<strong><%= item.created_at%> <%= item.author %> wrote:<br></strong>
	<%= simple_format(item.body) %><br>
<% end %>
<hr>
<!-- если юзер залогинен - разрешаем вводить комментарии -->
<% if user_signed_in? %>
	<!-- форма ввода комментариев -->
	<h3>Add comment:</h3>
	<!-- форма для ввода связанных сущностей, причем несуществующий еще объект comments создается пустым с помощью метода build -->
	<%= form_for [@article, @article.comments.build] do |f| %>

		<p>
			<%= f.label :author %><br>
			<%= f.text_field :author, :value => current_user.username, :readonly => true %>
		</p>

		<p>
			<%= f.label :body %><br>
			<%= f.text_area :body, style: "width:100%" %>
		</p>

		<p>
			<%= f.submit %>
		</p>

	<% end %>
<!-- если не залогинен - просим залогинится -->
<% else %>
	<p>For enter comments, please <%= link_to "Log In", new_user_session_path %></p>
<% end %>