<!-- основной шаблон -->
<!DOCTYPE html>
<html>
<head>
  <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <title>MyRORBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">
<br>
<!-- навигационная панель -->
<nav>
	<a href='/articles'>Articles</a> |
	<a href='/contacts'>Contacts</a> |
	<a href='/about'>About us</a> |
	<a href='/terms'>Terms of use</a> |
	<a href='/users/sign_in'>Log In</a> |
	<a href='/users/sign_out' data-method="delete">Log Out</a> |
</nav>
<% if notice %>
	<p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
	<p class="alert"><%= alert %></p>
<% end %>
<hr>
<%= yield %>
</body>
</html>
